<section class="benefits">
    <div class="container">
        <div class="row">
            <h2 class="benefits__title text-center w-100 d-block d-lg-none mt-4">Преимущества</h2>
            <ul class="col-lg-4 benefits__block d-flex flex-column justify-content-around">
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Всего 3 документа: паспорт РФ, ПТС, СТС
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Оформление и выдача за 30 минут. Расчет и одобрение онлайн
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Без справок и поручителей. С любой кредитной историей
                    </div>
                </li>
            </ul>
            <div class="col-lg-4 d-none d-lg-block">
                <img class="img-fluid" src="img/car-benefits.png" alt="">
            </div>
            <ul class="col-lg-4 benefits__block d-flex flex-column justify-content-around">
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Досрочное расторжение и пересчет процентов по дням
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Договор займа без мелкого шрифта и скрытых платежей
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__ico bg-primary"></div>
                    <div class="benefits__text">
                        Условия в офисе соответствуют заявленным на сайте
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>