<section class="p-standart calculator">
    <div class="container">
        <div class="calculator__title d-none d-lg-block text-center">
            <h2 class="calculator__title_header text-center">Калькулятор займа</h2>
            <div class="calculator__title_text">Выберите сумму необходимого займа и получите одобрение онлайн</div>
        </div>
        <div class="row calculator__block justify-content-center">
            <div class="calculator__block_left col-lg-6">
                <div class="calculator__top d-flex justify-content-between">
                    <div class="calculator__summ">
                        сумма займа
                    </div>
                    <div class="calculator__car_coast d-none d-lg-flex">
                        <div class="calculator__coast text-right">80% стоимости вашего авто</div>
                        <div class="calculator__car">
                            <svg class="carclean-ico" width="41" height="41">
                                <use xlink:href="#carclean"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <input type="text" class="ion-slider" name="ion-slider" value="" />
            </div>
            <div class="calculator__block_right col-lg-4">
                <div class="calculator__value month d-flex d-lg-block">
                    <span class="d-none d-lg-block">Платеж в месяц:</span>
                    <div class="calculator__value--num value_month js-value-month">

                    </div><span class="text-lightweight d-block d-lg-none ml-2"> в месяц</span>
                </div>
                <div class="calculator__value day d-flex d-lg-block">
                    <span class="d-none d-lg-block">Платеж в день:</span>
                    <div class="calculator__value--num value_day js-value-day">

                    </div><span class="text-lightweight d-block d-lg-none ml-2"> в день</span>
                </div>
                <div class="calculator__form--wrap js-popup-switcher">
                    <span class="fade-for-form js-calc-form-open"></span>
                    <form class="calculator__form" action="">
                        <button type="button" class="close d-none d-lg-block js-calc-form-open" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input class="js-input-total" type="text" hidden>
                        <input class="js-input-month" type="text" hidden>
                        <input class="js-input-day" type="text" hidden>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="" placeholder="ваш телефон" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Оформить заявку</button>
                    </form>
                </div>
                <button class="btn btn-primary w-100 d-none d-lg-block js-calc-form-open">Получить займ</button>
            </div>
        </div>

    </div>

</section>

<!-- <svg width="15.989" height="16"><use xlink:href="#flag"></use></svg> -->