<section class="p-standart docs_and_slider">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="docs col-lg-6">
                <h2 class="docs__title d-none d-lg-block">Мы – ваш лучший автоломбард</h2>
                <div class="row minicol py-4">
                    <div class="col-6 col-md-auto px-md-4">
                        <img class="img-fluid docs__img" src="img/doc.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>
                            Работаем с 2014г. в соответствии с Федеральным законом «О ломбардах» №196 от 19.07.2007
                        </p>
                        <p>
                            Свидетельство ОГРН №1143525013257
                        </p>
                        <p class="d-none d-lg-block">
                            Ценим ваше время и конфединциальность при обращении к нам
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider col-lg-6">
                <div class="slider__block">
                    <div id="photoslider" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/office.png" alt="" class="img-fluid slider__large_item">
                            </div>
                            <div class="carousel-item">
                                <img src="img/office.png" alt="" class="img-fluid slider__large_item">
                            </div>
                            <div class="carousel-item">
                                <img src="img/office.png" alt="" class="img-fluid slider__large_item">
                            </div>
                            <div class="carousel-item">
                                <img src="img/office.png" alt="" class="img-fluid slider__large_item">
                            </div>

                        </div>

                        <ul class="slider__indicators carousel-indicators">
                            <li data-target="#photoslider" data-slide-to="0" class="indicator-item active">
                                <img src="img/office.png" alt="" class="img-fluid slider__indicators--img">
                            </li>
                            <li data-target="#photoslider" data-slide-to="1" class="indicator-item ">
                                <img src="img/office.png" alt="" class="img-fluid slider__indicators--img">
                            </li>
                            <li data-target="#photoslider" data-slide-to="2" class="indicator-item ">
                                <img src="img/office.png" alt="" class="img-fluid slider__indicators--img">
                            </li>
                            <li data-target="#photoslider" data-slide-to="3" class="indicator-item ">
                                <img src="img/office.png" alt="" class="img-fluid slider__indicators--img">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>