<section class="p-standart manager_and_app order-12 order-lg-0">
    <div class="container">
        <div class="row">
            <div class="manager col-8 d-none d-lg-block">
                <div class="h2 manager__title">Выездной менеджер</div>
                <div class="manager__text">
                    Вы можете пригласить менеджера на встречу в удобном для вас месте и время,
                    оформив заявку на сайте или через наше мобильное приложение. Услуга оказывается бесплатно.
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#testModal">
                    Заявка онлайн
                </button>
            </div>
            <div class="app_block col-12 col-lg-4">
                <h4 class="app_block__title">Наше приложение</h4>
                <a href="#">
                    <img src="img/app--buttons.png" alt="">
                </a>
                <!--todo: change buttons-->
                <!--<a href=""></a>-->
            </div>
        </div>
    </div>
</section>