<section class="p-standart scheme bg-secondary">
    <div class="container">
        <h2 class="scheme__title text-center">Очень простая схема работы</h2>
        <div class="row scheme__row">
            <div class="scheme__block col-lg-4 d-flex flex-lg-column">
                <div class="scheme__block_ico bg-primary rounded-circle text-center">
                    1
                </div>
                <div class="scheme__block_description text-left text-lg-center">

                    <h5 class="scheme__block_title">
                        Заявка на займ
                    </h5>
                    <div class="scheme__block_text">
                        Оставить заявку в приложении
                        или на сайте
                    </div>
                    <div class="scheme__block_badge rounded-pill bg-info text-center">
                        <b>2</b> минуты
                    </div>
                </div>
            </div>
            <div class="scheme__block col-lg-4 d-flex flex-lg-column">
                <div class="scheme__block_ico bg-primary rounded-circle text-center">
                    2
                </div>
                <div class="scheme__block_description text-left text-lg-center">

                    <h5 class="scheme__block_title">
                        Оформление договора
                    </h5>
                    <div class="scheme__block_text">
                        Приезжайте к нам или восопльзуйтесь выездом менеджера
                    </div>
                    <div class="scheme__block_badge rounded-pill bg-info text-center">
                        <b>20</b> минут
                    </div>
                </div>
            </div>
            <div class="scheme__block col-lg-4 d-flex flex-lg-column">
                <div class="scheme__block_ico bg-primary rounded-circle text-center">
                    3
                </div>
                <div class="scheme__block_description text-left text-lg-center">

                    <h5 class="scheme__block_title">
                        Получение денег
                    </h5>
                    <div class="scheme__block_text">
                        Наличными сразу после подписание договора
                    </div>
                    <div class="scheme__block_badge rounded-pill bg-info text-center">
                        <b>мгновенно</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>